:root {
    --bg-color-dark: #333333;
    --input-color-dark: #444444;
    --text-color-dark: #aaaaaa;
}
body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}
button {
    border-radius: 3px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);
}
input {
    border-radius: 3px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);
}
:global(html),
:global(body) {
    margin: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

#drop_zone {
    background-color: #eee;
    border: #999 1px solid;
    width: 280px;
    height: 200px;
    padding: 8px;
    font-size: 19px;
}

.objects {
    display: inline-block;
    background-color: #fff3cc;
    border: #dfbc6a 1px solid;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 2px #999;
    cursor: move;
}
